h5.titleCarousel {
    color:white;
}

a.itemperfil{
    color:black;

}

div.colorBarraLateral{
    background-color: #8ECAE6;
}

i.colorLetrasBarraLateral{
    color: #023047;
}

.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: #023047;
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: #219EBC;
    background: #FFFFFF;
    border-color: #219EBC;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #219EBC;
}

.card-urgente {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #d93030;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}

.card-baja {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #a7b21f;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}

.card-media {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ce8c2a;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;

}
button.letraBoton{
    color: white
}